@font-face {
    font-family: 'Rubik-Black';
    src: url('./Rubik-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('./Rubik-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Light';
    src: url('./Rubik-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('./Rubik-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('./Rubik-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}